body {
    background-color: #3e6642;
    overflow-x: hidden;
}
.main {
    position: absolute;
    left: -5%;
    top: -110%;
    width: 105%;
    height: 105%;
    transform: translateY(-100%);
}
.main {
    animation: down 3s ease-in 1 forwards;
}
@keyframes down {
    0% {
    }
    100% {
        transform: translateY(150%);
    }
}
.picContainer {
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-75%, -150%);
    z-index: -3;
    margin: 5rem;
    width: 20rem;
    height: 20rem;
    background: url("bunny.jpg");
    background-size: contain;
}

@media screen and (max-width: 550px) {
    .picContainer {
        margin-top: 2rem;
    }
    .text {
        margin-top: 3rem;
    }
}
.text, .text2 {
    font-family: sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: -3;
    margin-bottom: 3rem;
    color: rgb(231, 231, 231);
    margin: 1.5rem;
}
.text {
    top: -50%;
}
.text2 {
    top: 15%;
    font-size: 1em;
    word-wrap: break-word;
}
.marine {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-75%, -150%);
    z-index: -3;
    margin: 5rem;
    width: 20rem;
    height: 20rem;
    background: url("marine.png");
    background-size: cover;
}